<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Opérations-sur-les-matrices" data-toc-modified-id="Opérations-sur-les-matrices-1">Opérations sur les matrices</a></span><ul class="toc-item"><li><span><a href="#apply" data-toc-modified-id="apply-1.1">apply</a></span></li><li><span><a href="#lapply" data-toc-modified-id="lapply-1.2">lapply</a></span></li><li><span><a href="#sapply" data-toc-modified-id="sapply-1.3">sapply</a></span></li><li><span><a href="#autre" data-toc-modified-id="autre-1.4">autre</a></span></li></ul></li><li><span><a href="#Manipulation-avec-dplyr" data-toc-modified-id="Manipulation-avec-dplyr-2">Manipulation avec dplyr</a></span><ul class="toc-item"><li><span><a href="#le-package-dplyr" data-toc-modified-id="le-package-dplyr-2.1">le package dplyr</a></span></li><li><span><a href="#arrange" data-toc-modified-id="arrange-2.2">arrange</a></span></li><li><span><a href="#select" data-toc-modified-id="select-2.3">select</a></span></li><li><span><a href="#filter" data-toc-modified-id="filter-2.4">filter</a></span></li><li><span><a href="#mutate" data-toc-modified-id="mutate-2.5">mutate</a></span></li><li><span><a href="#summarize" data-toc-modified-id="summarize-2.6">summarize</a></span></li><li><span><a href="#L'opérateur-Pipe:-%&gt;%" data-toc-modified-id="L'opérateur-Pipe:-%>%-2.7">L'opérateur Pipe: %&gt;%</a></span></li><li><span><a href="#group_by" data-toc-modified-id="group_by-2.8">group_by</a></span></li></ul></li><li><span><a href="#Jointure-des-bases-des-données" data-toc-modified-id="Jointure-des-bases-des-données-3">Jointure des bases des données</a></span><ul class="toc-item"><li><span><a href="#left_join" data-toc-modified-id="left_join-3.1">left_join</a></span></li><li><span><a href="#inner_join" data-toc-modified-id="inner_join-3.2">inner_join</a></span></li><li><span><a href="#semi_join" data-toc-modified-id="semi_join-3.3">semi_join</a></span></li><li><span><a href="#anti_join" data-toc-modified-id="anti_join-3.4">anti_join</a></span></li></ul></li></ul></div>

In [2]:
options(repr.matrix.max.cols=8, repr.matrix.max.rows=5)

# Opérations sur les matrices

## apply


Nous avons vu qu'il était possible de faire des opérations sur les matrices en ligne ou en colonne. Toutefois, ce n'est pas toutes les fonctions statistiques qui sont applicables sur des colonnes et/ou lignes comme  `colMeans`. Pour appliquer d'utres sortes de fonctions, nous devons utiliser la fonction `apply`.

On peut alors utiliser `apply` lorsqu'on veut appliquer un calcule ou une fonction quelconque (FUN) sur des colonnes ou des lignes d'une matrice (incluant les matrices plus que 2D)

Soit une matrice de 12 premiers entiers;

In [2]:
m<-matrix(1:12, nrow=3)
m

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

Calculons le logarithme naturel de chaque élément de cette matrice:

In [3]:
h<-apply(m, c(1,2), log) #c(1,2) ça veut dire sur ligne et colonne
h

     [,1]      [,2]     [,3]     [,4]
[1,] 0.0000000 1.386294 1.945910 2.302585
[2,] 0.6931472 1.609438 2.079442 2.397895
[3,] 1.0986123 1.791759 2.197225 2.484907

Créons une matrice `3 x 1` qui nous retourne le résultat de la somme de chaque ligne;

In [4]:
h<-matrix(apply(m, 1, sum))
h

     [,1]
[1,] 22
[2,] 26
[3,] 30

Si nous comparerons à la fonction `rowSums` que nous avons vue;

In [7]:
rowSums(m)

[1] 22 26 30

## lapply

La fonction lapply applique une fonction quelconque (FUN) à tous les éléments d’un vecteur ou d’une liste X et retourne le résultat sous forme de liste.

Dans l'exemple suivant, nous avons une liste de trois vecteurs {vecteur_1, vecteur_2, vecteur_3} de taille différente, on voudrait savoir quelle est la taille de chaque élément, on voudrait la réponse dans une **liste**;

In [4]:
x <- list(vecteur_1 = 1, vecteur_2 = 1:17, vecteur_3 = 55:97) 
lapply(x, FUN = length)

$vecteur_1
[1] 1

$vecteur_2
[1] 17

$vecteur_3
[1] 43

Dans le résultat ci-haut, la fonction `lapply` nous a retourné une liste de trois éléments avec la taille de chaque vecteur.

Regardons un autre exemple où nous cherchons à créer quatre échantillons aléatoires de taille {5, 6, 7, 8} tirés du vecteur `x= 1 2 3 4 5 6 7 8 9 10`

In [5]:
set.seed(123)
lapply(5:8, sample, x = 1:10)

[[1]]
[1] 3 8 4 7 6

[[2]]
[1] 1 5 8 4 3 9

[[3]]
[1]  5  7 10  1  6  2  9

[[4]]
[1]  4  9  8  5 10  7  3  6

## sapply

Dans certains cas, on voudrait appliquer une fonction quelconque sur une liste, mais on ne veut pas que `R` nous retourne une une liste, on désire plutôt que `R` nous retourne un vecteur. La fonction `sapply` fait exactement cela. Le résultat est donc **s**implifiée par rapport à celui de `lapply`, d’où le nom de la fonction.

La taille de chaque élément de notre liste;

In [7]:
sapply(x, FUN = length)

vecteur_1 vecteur_2 vecteur_3
        1        17        43

ou la somme de chaque élément de notre liste `x`

In [6]:
sapply(x, FUN = sum)

vecteur_1 vecteur_2 vecteur_3
        1       153      3268

Si le résultat de chaque application de la fonction est un vecteur et que les vecteurs sont tous de la même longueur, alors sapply retourne une matrice, remplie comme toujours par colonne :

In [7]:
(x <- lapply(rep(5, 3), sample, x = 1:10))

[[1]]
[1]  6 10  3  2  9

[[2]]
[1] 10  7  9  1  3

[[3]]
[1] 8 2 3 9 1

In [8]:
sapply(x, sort)

     [,1] [,2] [,3]
[1,]  2    1   1
[2,]  3    3   2
[3,]  6    7   3
[4,]  9    9   8
[5,] 10   10   9

## autre
Il existe d'autres façons de manipuler les matrices, listes, vecteurs ...etc. Dans ce cours nous avons couvert les trois principaux, toutefois, on peut avoir besoin dans certains cas d'utiliser `vapply`, `mapply`, `Map`, `rapply` ou même `tapply` qui s'apparentent tous aux trois fonctions que nous avons couverts avec plus d'options ou format différent du résultat obtenu.

# Manipulation avec dplyr

## le package dplyr
Dans ce cours, afin de manipuler les données, nous allons utiliser la librairie `dplyr` qui assure une manipulation plus intuitive des données. Toutefois, vous pouvez utiliser tout autre libraire ou même les fonctions de base de `R`.

In [11]:
# install.packages("dplyr")

D'abord, téléchargeons un petit _df_ afin d'illustrer la théorie. Dans ce _df_, nous avons les données d'un cycliste qui est sorti un jour d'été faire un petit tour dans l'île de Montréal. Chaque observation, représente le nombre de km parcourus d'un parcours (_lap_), le temps que ça a pris, la vitesse moyenne en `km/h` de chaque _lap_, la puissance moyenne en `watts` et finalement, les battements de cours par minutes.

In [9]:
df<-read.csv("https://raw.githubusercontent.com/nmeraihi/data/master/exemple_2.txt")
df

  km    temps vitesseMoyenne puissanceMoyenne bpm
1  1.24 4:01  19.1           160              134
2  4.84 9:42  30.2           133              146
3  1.02 1:57  30.8           141              139
4 17.61 36:11 29.2           125              144
5  9.27 19:10 29.0           121              143

Il possible d'ordonner les données avec la fonction de base de `R` appelé `order`. Par exemple, on voudrait ordonner notre _df_ en ordre croissant sur la variable `puissanceMoyenne`

In [10]:
df[order(df$puissanceMoyenne),]

  km    temps vitesseMoyenne puissanceMoyenne bpm
5  9.27 19:10 29.0           121              143
4 17.61 36:11 29.2           125              144
2  4.84 9:42  30.2           133              146
3  1.02 1:57  30.8           141              139
1  1.24 4:01  19.1           160              134

Par défaut, l'ordre est est croissant, on peut le rendre décroissant en ajoutant l'argument `decreasing = T`

In [11]:
df[order(df$vitesseMoyenne, decreasing = T),]

  km    temps vitesseMoyenne puissanceMoyenne bpm
3  1.02 1:57  30.8           141              139
2  4.84 9:42  30.2           133              146
4 17.61 36:11 29.2           125              144
5  9.27 19:10 29.0           121              143
1  1.24 4:01  19.1           160              134

Toutefois, lorsque nous avons une base de données comportant un nombre plus important de variables, la syntaxe peut devenir plus compliquée et lourde d’écriture. Regardons un autre exemple:

In [3]:
df_ass <-read.csv("https://raw.githubusercontent.com/nmeraihi/data/master/assurance.csv", header = T)
head(df_ass)

  numeropol debut_pol fin_pol   freq_paiement ⋯ cout6 cout7 nbsin equipe
1 4         11-4-1996 10-4-1997 12            ⋯ NA    NA    0     3
2 4         11-4-1997 10-4-1998 12            ⋯ NA    NA    0     3
3 4         11-4-2002 17-7-2002 12            ⋯ NA    NA    0     3
⋮ ⋮         ⋮         ⋮         ⋮             ⋱ ⋮     ⋮     ⋮     ⋮
5  4        11-4-2003 10-4-2004 12            ⋯ NA    NA    0     3
6 12        3-5-1995  2-5-1996   1            ⋯ NA    NA    0     3

Affichons notre base de données en ordre croissant sur le nombre de sinistres et le numéro de police;

In [15]:
df_ass[order(df_ass$nbsin, df_ass$numeropol, decreasing = T),]

    numeropol debut_pol fin_pol   freq_paiement ⋯ cout6 cout7 nbsin equipe
988 2006      13-6-1996 12-6-1997 12            ⋯ NA    NA    2     3
902 1820      1-10-1996 30-9-1997  1            ⋯ NA    NA    2     3
861 1733      10-5-1998 9-5-1999   1            ⋯ NA    NA    2     3
⋮   ⋮         ⋮         ⋮         ⋮             ⋱ ⋮     ⋮     ⋮     ⋮
4   4         18-7-2002 10-4-2003 12            ⋯ NA    NA    0     3
5   4         11-4-2003 10-4-2004 12            ⋯ NA    NA    0     3

Dans le tableau affiché ci-haut, on voit bien que cette fonction ne nous permet pas d'appliquer un ordre croissant ou décroissant sur une variable précise

## arrange

Maintenant, utilisons le paquet (_package_) `dplyr` qui nous permet de plus facilement d'appliquer un ordre quelconque sur une variable précise indépendamment des autres variables;

In [4]:
library(dplyr, warn.conflicts = FALSE)

In [17]:
arrange(df_ass, desc(nbsin), numeropol)

     numeropol debut_pol  fin_pol   freq_paiement ⋯ cout6 cout7 nbsin equipe
1     71       15-2-1996  14-2-1997  1            ⋯ NA    NA    2     3
2     79       20-11-1997 21-6-1998 12            ⋯ NA    NA    2     3
3    116       4-9-1998   11-6-1999  1            ⋯ NA    NA    2     3
⋮    ⋮         ⋮          ⋮         ⋮             ⋱ ⋮     ⋮     ⋮     ⋮
1000 2036      14-3-2000  26-2-2001 12            ⋯ NA    NA    0     3
1001 2036      27-2-2001  13-3-2001 12            ⋯ NA    NA    0     3

## select

Ce paquet nous permet aussi de sélectionner des variables d'intérêt. Par exemple, dans notre `df_ass`, on désire seulement sélectionner les variables `numeropol`, `type_territoire` et `nbsin`

In [5]:
select(df_ass, numeropol,type_territoire, nbsin)

     numeropol type_territoire nbsin
1    4         Semi-urbain     0
2    4         Semi-urbain     0
3    4         Semi-urbain     0
⋮    ⋮         ⋮               ⋮
1000 2036      Semi-urbain     0
1001 2036      Semi-urbain     1

## filter

Afin de filtrer des données sur des observations d'intérêt. On peut utiliser la fonction de base de **R** `which`. Par exemple dans les données `Cars93` du package `MASS`, on voudrait extraire les véhicules ayant 8 cylindres. On voudrait également afficher que les deux variables `'Horsepower'` et `'Passengers'`

In [19]:
library(MASS, warn.conflicts = F)

In [20]:
Cars93[which(Cars93$Cylinders==8), c('Horsepower' , 'Passengers')]

   Horsepower Passengers
10 200        6
11 295        5
18 170        6
⋮  ⋮          ⋮
48 278        5
52 210        6

Toutefois, la fonction `filter` de la librairie `dyplr` est plus flexible lorsqu'il s'agit d'appliquer des filtres plus complexes. Essayons le même exemple avec cette fonction;

In [21]:
filter(Cars93, Cylinders==8)[c('Horsepower' , 'Passengers')]

  Horsepower Passengers
1 200        6
2 295        5
3 170        6
⋮ ⋮          ⋮
6 278        5
7 210        6

Si l'on cherche les médecins qui ont eu deux sinistres dans notre base de données `df_ass`;

In [22]:
filter(df_ass, nbsin==2, type_prof=="Médecin")

  numeropol debut_pol fin_pol   freq_paiement ⋯ cout6 cout7 nbsin equipe
1   71      15-2-1996 14-2-1997  1            ⋯ NA    NA    2     3
2  140      15-4-1995 14-4-1996 12            ⋯ NA    NA    2     3
3 1820      1-10-1996 30-9-1997  1            ⋯ NA    NA    2     3

## mutate

Dans ce package, on trouve aussi la fonction `mutate` qui permet d'ajouter de nouvelles variables à notre df

In [23]:
mutate(df, arrondi=round(df$vitesseMoyenne,0))

  km    temps vitesseMoyenne puissanceMoyenne bpm arrondi
1  1.24 4:01  19.1           160              134 19
2  4.84 9:42  30.2           133              146 30
3  1.02 1:57  30.8           141              139 31
4 17.61 36:11 29.2           125              144 29
5  9.27 19:10 29.0           121              143 29

Ajoutons maintenant trois nouvlles variables;

In [24]:
mutate(df, arrondi=round(df$vitesseMoyenne,0), segementStrava=paste("segment",1:5,sep = "_"), arrondi_2=arrondi/2)

  km    temps vitesseMoyenne puissanceMoyenne bpm arrondi segementStrava
1  1.24 4:01  19.1           160              134 19      segment_1
2  4.84 9:42  30.2           133              146 30      segment_2
3  1.02 1:57  30.8           141              139 31      segment_3
4 17.61 36:11 29.2           125              144 29      segment_4
5  9.27 19:10 29.0           121              143 29      segment_5
  arrondi_2
1  9.5
2 15.0
3 15.5
4 14.5
5 14.5

## summarize

La fonction `summarize` est très similaire à la fonction `mutate`. Toutefois, contrairement à `mutate`, la fonction `summarize` ne travaille pas sur une copie du df, mais elle crée un tout nouveau df avec les nouvelles variables.

In [25]:
summarise(df,TotalKmParcour=sum(km))

  TotalKmParcour
1 33.98

In [26]:
summarise(df,TotalKmParcour=sum(km), vitesseMoyenne= mean(df$vitesseMoyenne), puissanceMoyenne=mean(df$puissanceMoyenne))

  TotalKmParcour vitesseMoyenne puissanceMoyenne
1 33.98          27.66          136

On voit bien que l'écriture du code commence à être un peu plus compliquée lorsque nous avons plusieurs parenthèses dans notre fonction. Pour remédier à ce problème, nous verrons la notion de _piiping_;

## L'opérateur Pipe: %>%

Avant d'aller plus loin, introduisons l'opérateur de _pipe_:%>%. **dplyr** importe cet opérateur d'une autre librairie (`magrittr`). Cet opérateur vous permet de diriger la sortie d'une fonction vers l'entrée d'une autre fonction. Au lieu d'imbriquer des fonctions (lecture de l'intérieur vers l'extérieur), l'idée de _piping_ est de lire les fonctions de gauche à droite.

![piping data](http://res.cloudinary.com/dyd911kmh/image/upload/f_auto,q_auto:best/v1510846626/Pipe-Mathematical_gczmab.png)

Crédit de l'image [Pipes in R Tutorial For Beginners](https://www.datacamp.com/community/tutorials/pipe-r-tutorial)

Lorsque nous avons écrit:

In [6]:
select(df_ass, numeropol, type_territoire, nbsin)

     numeropol type_territoire nbsin
1    4         Semi-urbain     0
2    4         Semi-urbain     0
3    4         Semi-urbain     0
⋮    ⋮         ⋮               ⋮
1000 2036      Semi-urbain     0
1001 2036      Semi-urbain     1

Si on lit ce que nous avons écrit précédemment de l'intérieur vert l'extérieur, en utilisant le _piping_, nous aurons ceci:

In [7]:
df_ass %>%
    select (numeropol,type_territoire, nbsin)

     numeropol type_territoire nbsin
1    4         Semi-urbain     0
2    4         Semi-urbain     0
3    4         Semi-urbain     0
⋮    ⋮         ⋮               ⋮
1000 2036      Semi-urbain     0
1001 2036      Semi-urbain     1

ou;

In [8]:
df_ass %>%
    select (numeropol,type_territoire, nbsin) %>%
    head

  numeropol type_territoire nbsin
1 4         Semi-urbain     0
2 4         Semi-urbain     0
3 4         Semi-urbain     0
⋮ ⋮         ⋮               ⋮
5  4        Semi-urbain     0
6 12        Semi-urbain     0

## group_by

Nous pouvons aussi grouper les données comme nous le faisions dans `SAS` avec les `PROC SQL`

In [11]:
df_ass$coutTot<-rowSums(df_ass[,c(19:25)], na.rm = T, dims = 1)

In [12]:
df_ass

     numeropol debut_pol fin_pol   freq_paiement ⋯ cout7 nbsin equipe coutTot
1    4         11-4-1996 10-4-1997 12            ⋯ NA    0     3      0
2    4         11-4-1997 10-4-1998 12            ⋯ NA    0     3      0
3    4         11-4-2002 17-7-2002 12            ⋯ NA    0     3      0
⋮    ⋮         ⋮         ⋮         ⋮             ⋱ ⋮     ⋮     ⋮      ⋮
1000 2036      27-2-2001 13-3-2001 12            ⋯ NA    0     3           0.0
1001 2036      14-3-2001 13-3-2002 12            ⋯ NA    1     3      231051.8

In [13]:
summarise(df_ass,TotalNbSin=sum(nbsin), TotCout= sum((coutTot), na.rm = T))

  TotalNbSin TotCout
1 156        1078791

Cherchons par exemple nombre de sinistres totaux ainsi que leurs coûts par territoire. En utilisant la syntaxe du _piping_, ça devient plus facile d'inclure plus de sous-groupes;

In [14]:
df_ass %>% 
    group_by(type_territoire) %>%
    summarise(TotalNbSin=sum(nbsin), 
              TotCout= sum((coutTot), na.rm = T)
            )

  type_territoire TotalNbSin TotCout
1 Rural           51         547105.01
2 Semi-urbain     80         471157.64
3 Urbain          25          60528.81

# Jointure des bases des données

Dans cette section, nous allons joindre deux ou plusieurs df. Mais d'abord importons deux df afin illustrer quelques exemples;

In [15]:
df_demo <-read.csv("https://raw.githubusercontent.com/nmeraihi/data/master/donnes_demo.csv", header = T)
df_demo

   name            province              company                   langue
1  Shane Robinson  Nova Scotia           May Ltd                   fr
2  Courtney Nguyen Saskatchewan          Foley, Moore and Mitchell en
3  Lori Washington Yukon Territory       Robinson-Reyes            fr
⋮  ⋮               ⋮                     ⋮                         ⋮
19 Heidi Freeman   Northwest Territories Singh, Esparza and Santos en
20 Morgan Buchanan Northwest Territories Rollins Inc               fr
   date_naissance agee age_permis numeropol
1  1944-10-20     72   24          1
2  1985-12-09     31   24          5
3  1970-01-27     47   28         13
⋮  ⋮              ⋮    ⋮          ⋮
19 1951-06-07     65   18         84
20 1971-07-31     45   31         91

In [16]:
df_auto <-read.csv("https://raw.githubusercontent.com/nmeraihi/data/master/cars_info.csv", header = T)
df_auto

   numeropol marque_voiture couleur_voiture presence_alarme license_plate
1   1        Autres         Autre           0               DW 3168
2   5        RENAULT        Autre           0               926 1RL
3  13        RENAULT        Autre           1               SOV 828
⋮  ⋮         ⋮              ⋮               ⋮               ⋮
24 84        HONDA          Autre           0               CBV 102
25 91        BMW            Autre           1               UOR-0725

Dans ces deux df, nous avons une colonne en commun `numeropol`

In [17]:
df_demo$numeropol

 [1]  1  5 13 16 22 28 29 49 53 57 59 65 67 68 69 72 78 83 84 91

In [18]:
df_auto$numeropol

 [1]  1  5 13 16 22 22 28 29 49 53 53 57 59 65 65 67 68 69 69 72 78 83 84 84 91

On peut voir l'index des lignes qui se trouvent dans les deux df

In [19]:
match(df_demo$numeropol, df_auto$numeropol)

 [1]  1  2  3  4  5  7  8  9 10 12 13 14 16 17 18 20 21 22 23 25

In [20]:
df_demo$numeropol[match(df_demo$numeropol, df_auto$numeropol)]

 [1]  1  5 13 16 22 29 49 53 57 65 67 68 72 78 83 91 NA NA NA NA

On peut aussi faire un test logique sur la présence des observations du df_demo dans df_auto;

In [21]:
df_demo$numeropol %in% df_auto$numeropol

 [1] TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE
[16] TRUE TRUE TRUE TRUE TRUE

ou le contraire maintenant

In [22]:
df_auto$numeropol %in% df_demo$numeropol

 [1] TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE
[16] TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE

Dans ce cas toutes les variables se trouvent dans les deux df

In [23]:
merge(df_demo,df_auto, by.x = "numeropol",  by.y = "numeropol") # x est le df_demo et y est le df df_auto

   numeropol name            province              company                   ⋯
1   1        Shane Robinson  Nova Scotia           May Ltd                   ⋯
2   5        Courtney Nguyen Saskatchewan          Foley, Moore and Mitchell ⋯
3  13        Lori Washington Yukon Territory       Robinson-Reyes            ⋯
⋮  ⋮         ⋮               ⋮                     ⋮                         ⋱
24 84        Heidi Freeman   Northwest Territories Singh, Esparza and Santos ⋯
25 91        Morgan Buchanan Northwest Territories Rollins Inc               ⋯
   marque_voiture couleur_voiture presence_alarme license_plate
1  Autres         Autre           0               DW 3168
2  RENAULT        Autre           0               926 1RL
3  RENAULT        Autre           1               SOV 828
⋮  ⋮              ⋮               ⋮               ⋮
24 HONDA          Autre           0               CBV 102
25 BMW            Autre           1               UOR-0725

Que serait-il arrivé si l’on n'avait pas spécifié les arguments `by.x = "numeropol",  by.y = "numeropol"`?

In [24]:
merge(df_demo,df_auto)

   numeropol name            province              company                   ⋯
1   1        Shane Robinson  Nova Scotia           May Ltd                   ⋯
2   5        Courtney Nguyen Saskatchewan          Foley, Moore and Mitchell ⋯
3  13        Lori Washington Yukon Territory       Robinson-Reyes            ⋯
⋮  ⋮         ⋮               ⋮                     ⋮                         ⋱
24 84        Heidi Freeman   Northwest Territories Singh, Esparza and Santos ⋯
25 91        Morgan Buchanan Northwest Territories Rollins Inc               ⋯
   marque_voiture couleur_voiture presence_alarme license_plate
1  Autres         Autre           0               DW 3168
2  RENAULT        Autre           0               926 1RL
3  RENAULT        Autre           1               SOV 828
⋮  ⋮              ⋮               ⋮               ⋮
24 HONDA          Autre           0               CBV 102
25 BMW            Autre           1               UOR-0725

Cela a bien fonctionné, car R a automatiquement trouvé les noms de colonnes communs au deux df;

Maintenant, changeons les noms de colonnes et voyons ce qui arrive

In [25]:
names(df_auto)[names(df_auto)=="numeropol"] <- "auto_numpol"

Bien évidemment, cela crée une jointure croisée comme on l'avait vu dans les cours de SAS

In [26]:
head(merge(df_demo,df_auto))

  name            province        company                   langue ⋯
1 Shane Robinson  Nova Scotia     May Ltd                   fr     ⋯
2 Courtney Nguyen Saskatchewan    Foley, Moore and Mitchell en     ⋯
3 Lori Washington Yukon Territory Robinson-Reyes            fr     ⋯
⋮ ⋮               ⋮               ⋮                         ⋮      ⋱
5 Jeffrey Garcia  Nunavut         Berger-Thompson           en     ⋯
6 Colleen Coleman Saskatchewan    Simmons-Smith             en     ⋯
  marque_voiture couleur_voiture presence_alarme license_plate
1 Autres         Autre           0               DW 3168
2 Autres         Autre           0               DW 3168
3 Autres         Autre           0               DW 3168
⋮ ⋮              ⋮               ⋮               ⋮
5 Autres         Autre           0               DW 3168
6 Autres         Autre           0               DW 3168

On vient bien que dans la dernière colonne `license_plate`, nous obtenons la même observation ce qui est clairement une erreur;

Corrigeons le problème;

In [27]:
head(merge(df_demo,df_auto, by.x = "numeropol",  by.y = "auto_numpol"))

  numeropol name            province        company                   ⋯
1  1        Shane Robinson  Nova Scotia     May Ltd                   ⋯
2  5        Courtney Nguyen Saskatchewan    Foley, Moore and Mitchell ⋯
3 13        Lori Washington Yukon Territory Robinson-Reyes            ⋯
⋮ ⋮         ⋮               ⋮               ⋮                         ⋱
5 22        Jeffrey Garcia  Nunavut         Berger-Thompson           ⋯
6 22        Jeffrey Garcia  Nunavut         Berger-Thompson           ⋯
  marque_voiture couleur_voiture presence_alarme license_plate
1 Autres         Autre           0               DW 3168
2 RENAULT        Autre           0               926 1RL
3 RENAULT        Autre           1               SOV 828
⋮ ⋮              ⋮               ⋮               ⋮
5 VOLKSWAGEN     Autre           1               453 CFM
6 VOLKSWAGEN     Autre           0               FHH 537

 ## left_join

la fonction `left_join` prend toute l'information de gauche et l'information existante de la partie droite qui est basée sur le critère en commun

In [28]:
x<-data.frame(nom=c("Gabriel", "Adel", "NM", "Mathieu", "Amine", "Mohamed"), 
              bureaux=c("5518", "4538", "5518", "5517", "4538", "4540"))
x

  nom     bureaux
1 Gabriel 5518
2 Adel    4538
3 NM      5518
⋮ ⋮       ⋮
5 Amine   4538
6 Mohamed 4540

In [29]:
y<-data.frame(nom=c("Gabriel", "Adel", "JP", "Mathieu", "Amine"), 
              diplome=c("M.Sc", "Ph.D", "Ph.D", "Ph.D", "Ph.D"))
y

  nom     diplome
1 Gabriel M.Sc
2 Adel    Ph.D
3 JP      Ph.D
4 Mathieu Ph.D
5 Amine   Ph.D

In [30]:
left_join(x,y,by = "nom")

Warning message:
“Column `nom` joining factors with different levels, coercing to character vector”

  nom     bureaux diplome
1 Gabriel 5518    M.Sc
2 Adel    4538    Ph.D
3 NM      5518    NA
⋮ ⋮       ⋮       ⋮
5 Amine   4538    Ph.D
6 Mohamed 4540    NA

## inner_join

Cette fonction permet de retourner **seulement** les éléments en commun des deux df

In [31]:
inner_join(x,y,by = "nom")

Warning message:
“Column `nom` joining factors with different levels, coercing to character vector”

  nom     bureaux diplome
1 Gabriel 5518    M.Sc
2 Adel    4538    Ph.D
3 Mathieu 5517    Ph.D
4 Amine   4538    Ph.D

## semi_join

Cette fonction retourne seulement les éléments du premier df qui se retrouve dans le deuxième df, sans nous retourner les éléments de ce dernier

In [ ]:
semi_join(x,y,by = "nom")

## anti_join

Cette fonction le contraire de la précédente

In [ ]:
anti_join(x,y,by = "nom")