# Donn√©es manquantes
* markdown: echap+m
* code : echap+y

In [2]:
import numpy as np
import pandas as pd

In [3]:
# from pandas import DataFrame, Series

In [5]:
data= Series(["un", "deux", np.nan, "quatre"])

In [6]:
data

0        un
1      deux
2       NaN
3    quatre
dtype: object

In [8]:
data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [10]:
data.dropna()

0        un
1      deux
3    quatre
dtype: object

In [11]:
df=pd.DataFrame([[1,2,3], [np.nan, 2, 5], [2,np.nan, 9], [np.nan, np.nan, 17]])

In [12]:
df

     0    1   2
0  1.0  2.0   3
1  NaN  2.0   5
2  2.0  NaN   9
3  NaN  NaN  17

In [13]:
df_propre=df.dropna()

In [14]:
df_propre

     0    1  2
0  1.0  2.0  3

In [16]:
df.dropna(axis=1)
# shfit+tab

    2
0   3
1   5
2   9
3  17

In [21]:
df.fillna(0)

     0    1   2
0  1.0  2.0   3
1  0.0  2.0   5
2  2.0  0.0   9
3  0.0  0.0  17

In [23]:
df.fillna()

      0     1   2
0     1     2   3
1  vide     2   5
2     2  vide   9
3  vide  vide  17

# outliers


Fixer notre seed

In [39]:
np.random.seed(123)
np.random.random()

0.6964691855978616

In [67]:
np.random.seed(123)
df=pd.DataFrame(np.random.randn(1000, 4))

In [68]:
df.head()

          0         1         2         3
0 -1.085631  0.997345  0.282978 -1.506295
1 -0.578600  1.651437 -2.426679 -0.428913
2  1.265936 -0.866740 -0.678886 -0.094709
3  1.491390 -0.638902 -0.443982 -0.434351
4  2.205930  2.186786  1.004054  0.386186

In [69]:
df.shape

(1000, 4)

In [70]:
df.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.007502     0.039160    -0.010286     0.024285
std       0.977024     0.973484     1.012230     0.970421
min      -3.167055    -2.920029    -3.801378    -3.231055
25%      -0.662012    -0.636160    -0.687717    -0.599195
50%      -0.024843     0.062549     0.007035     0.038718
75%       0.613950     0.672448     0.664586     0.683228
max       3.050755     2.850708     2.766603     3.571579

In [71]:
col0=df[0]

In [72]:
col0.head()

0   -1.085631
1   -0.578600
2    1.265936
3    1.491390
4    2.205930
Name: 0, dtype: float64

In [73]:
col0[np.abs(col0)>3]

235   -3.167055
910    3.050755
Name: 0, dtype: float64

In [74]:
df[(np.abs(df)>3).values]

            0         1         2         3
48   0.199582 -0.126118  0.197019 -3.231055
182  0.272735  0.425336 -0.230904  3.571579
235 -3.167055 -0.713989 -1.112364 -1.254184
409  0.151037  0.069403 -3.801378 -1.127172
423  0.231228  1.076113 -3.587494  1.148869
510  0.506533  0.644099 -3.066988 -1.349275
910  3.050755  0.296552 -0.481843  0.930787

In [75]:
df.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.007502     0.039160    -0.010286     0.024285
std       0.977024     0.973484     1.012230     0.970421
min      -3.167055    -2.920029    -3.801378    -3.231055
25%      -0.662012    -0.636160    -0.687717    -0.599195
50%      -0.024843     0.062549     0.007035     0.038718
75%       0.613950     0.672448     0.664586     0.683228
max       3.050755     2.850708     2.766603     3.571579

In [78]:
df[(np.abs(df)>3)]=np.sign(df)*3

In [79]:
df.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.007386     0.039160    -0.002831     0.023944
std       0.968103     0.973484     0.995463     0.959435
min      -2.930223    -2.920029    -2.840847    -2.798589
25%      -0.662012    -0.636160    -0.687717    -0.599195
50%      -0.024843     0.062549     0.007035     0.038718
75%       0.613950     0.672448     0.664586     0.683228
max       2.799524     2.850708     2.766603     2.958625