In [21]:
library(stringr)

# no 1
Créer n'importe quuel fichier sur votre répertoire de travail et vérifier s'il existe.

**Note** ce numéros sert juste à pratiquer `file.create` et `file.exists`.

In [1]:
file.create("vide.txt")

[1] TRUE

In [3]:
file.exists("vide.txt")

[1] TRUE

In [4]:
file.exists("vide.csv")

[1] FALSE

# no 2


Créez une variable qui représente votre date de naissance appelée date_naiss.

In [74]:
date_naiss<-ymd('1990-10-16')
date_naiss

[1] "1990-10-16"

Quelle est la date d'aujourd'hui?

In [75]:
auj=Sys.Date()
auj

[1] "2018-09-30"

Quelle jour de semaine vous êtes né?

In [ ]:
weekdays(date_naiss)

Affichez le résultat en espagnole

In [ ]:
Sys.setlocale(locale="es_ES.UTF-8")

In [ ]:
weekdays(date_naiss)

Remettre votre ordi en Français

In [ ]:
Sys.setlocale(locale="fr_FR.UTF-8")

# no 3

Afin de remercier vos collègues de travail de leur présence à votre première formation que vous avez donné, vous décidez de leur envoyer un message de remerciemenets. Toutefois, vous voulez ajouter votre touche personnelle en écrivant un émail à chaucun de vos collègues. en mentionnant leur prénoms à l'entête de du message. 

Votre message ressmble à ceci:
___
```
Chèr "prénom", 

Un petit mot pour vous dire merci. Merci d’avoir contribué à la réussite de ma première présentation.

À bientôt!

```
___

Toutefois, vous vous rendez compte qu'il faut accorder le mot "chèr" au masculin ou au féminin selon le sexe de votre collègue. Vous ne voulez certainement pas perdre votre temps à le faire manuellement, alors vous confiez la tâche à votre bel ordinateur qui comprends bien le langage `R`!

In [52]:
a<-read.csv("https://raw.githubusercontent.com/nmeraihi/data/master/coll%C3%A8gues.csv")

In [53]:
tail(a)

   birthdate  PrenomNom               sex
66 1983-08-04 Sabine Lejeune          F
67 1995-05-24 Timothée Marchand       M
68 1990-06-05 Sylvie Roux-Delattre    F
69 1985-02-14 Patrick-Daniel Barre    M
70 1981-02-20 Laurent Lacombe-Lecomte M
71 1990-03-08 Marcel David            M

In [54]:
library(stringr)

In [55]:
a$prenom<- str_split_fixed(a$PrenomNom, " ", 2)[,1]
a$nom<- str_split_fixed(a$PrenomNom, " ", 2)[,2]

In [56]:
head(a)

  birthdate  PrenomNom                  sex prenom         nom
1 1985-07-02 Anaïs-Adrienne Launay      F   Anaïs-Adrienne Launay
2 1994-11-11 Benjamin Delmas de la Gros M   Benjamin       Delmas de la Gros
3 1991-03-20 Laurence Lucas             F   Laurence       Lucas
4 1993-12-01 Philippine Laurent         F   Philippine     Laurent
5 1984-03-22 Louise Paris               F   Louise         Paris
6 1976-07-29 André Joly                 M   André          Joly

In [57]:
a$forme_mas_fem<-ifelse(a$sex=="F", paste("Chère", a$prenom, ","), paste("Chèr", a$prenom, ",", sep = " "))

In [58]:
a$message<-paste(a$forme, 
                 "Un petit mot pour vous dire merci. Merci d’avoir contribué à la réussite de ma première présentation.",
                "À bientôt!",sep="\n")

In [59]:
print(head(a$message))

[1] "Chère Anaïs-Adrienne ,\nUn petit mot pour vous dire merci. Merci d’avoir contribué à la réussite de ma première présentation.\nÀ bientôt!"
[2] "Chèr Benjamin ,\nUn petit mot pour vous dire merci. Merci d’avoir contribué à la réussite de ma première présentation.\nÀ bientôt!"
[3] "Chère Laurence ,\nUn petit mot pour vous dire merci. Merci d’avoir contribué à la réussite de ma première présentation.\nÀ bientôt!"
[4] "Chère Philippine ,\nUn petit mot pour vous dire merci. Merci d’avoir contribué à la réussite de ma première présentation.\nÀ bientôt!"
[5] "Chère Louise ,\nUn petit mot pour vous dire merci. Merci d’avoir contribué à la réussite de ma première présentation.\nÀ bientôt!"
[6] "Chèr André ,\nUn petit mot pour vous dire merci. Merci d’avoir contribué à la réussite de ma première présentation.\nÀ bientôt!"

Lorsqu'on affiche le message qui doit être envoyé à chaque collègue, on remarque:
* Les charactères `\n` permettent de créer un saut de ligne dans le paragraphe lorsque ce dernier est écrirt dans un fichier `.txt`
* On remarque aussi que nous nous adresson bien à nos collègues féminis par `Chère` (Chère Anaïs-Adrienne) alors que les collègues masculins par `Chèr` (Chèr André).