<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Jointure-des-bases-des-données" data-toc-modified-id="Jointure-des-bases-des-données-1">Jointure des bases des données</a></span><ul class="toc-item"><li><span><a href="#left_join" data-toc-modified-id="left_join-1.1">left_join</a></span></li><li><span><a href="#inner_join" data-toc-modified-id="inner_join-1.2">inner_join</a></span></li><li><span><a href="#semi_join" data-toc-modified-id="semi_join-1.3">semi_join</a></span></li><li><span><a href="#anti_join" data-toc-modified-id="anti_join-1.4">anti_join</a></span></li></ul></li></ul></div>

In [2]:
options(repr.matrix.max.cols=8, repr.matrix.max.rows=5)

In [11]:
df_ass$coutTot<-rowSums(df_ass[,c(19:25)], na.rm = T, dims = 1)

In [12]:
df_ass

     numeropol debut_pol fin_pol   freq_paiement ⋯ cout7 nbsin equipe coutTot
1    4         11-4-1996 10-4-1997 12            ⋯ NA    0     3      0
2    4         11-4-1997 10-4-1998 12            ⋯ NA    0     3      0
3    4         11-4-2002 17-7-2002 12            ⋯ NA    0     3      0
⋮    ⋮         ⋮         ⋮         ⋮             ⋱ ⋮     ⋮     ⋮      ⋮
1000 2036      27-2-2001 13-3-2001 12            ⋯ NA    0     3           0.0
1001 2036      14-3-2001 13-3-2002 12            ⋯ NA    1     3      231051.8

In [13]:
summarise(df_ass,TotalNbSin=sum(nbsin), TotCout= sum((coutTot), na.rm = T))

  TotalNbSin TotCout
1 156        1078791

Cherchons par exemple nombre de sinistres totaux ainsi que leurs coûts par territoire. En utilisant la syntaxe du _piping_, ça devient plus facile d'inclure plus de sous-groupes;

In [14]:
df_ass %>% 
    group_by(type_territoire) %>%
    summarise(TotalNbSin=sum(nbsin), 
              TotCout= sum((coutTot), na.rm = T))

  type_territoire TotalNbSin TotCout
1 Rural           51         547105.01
2 Semi-urbain     80         471157.64
3 Urbain          25          60528.81

# Jointure des bases des données

Dans cette section, nous allons joindre deux ou plusieurs df. Mais d'abord importons deux df afin illustrer quelques exemples;

In [15]:
df_demo <-read.csv("https://raw.githubusercontent.com/nmeraihi/data/master/donnes_demo.csv", header = T)
df_demo

   name            province              company                   langue
1  Shane Robinson  Nova Scotia           May Ltd                   fr
2  Courtney Nguyen Saskatchewan          Foley, Moore and Mitchell en
3  Lori Washington Yukon Territory       Robinson-Reyes            fr
⋮  ⋮               ⋮                     ⋮                         ⋮
19 Heidi Freeman   Northwest Territories Singh, Esparza and Santos en
20 Morgan Buchanan Northwest Territories Rollins Inc               fr
   date_naissance agee age_permis numeropol
1  1944-10-20     72   24          1
2  1985-12-09     31   24          5
3  1970-01-27     47   28         13
⋮  ⋮              ⋮    ⋮          ⋮
19 1951-06-07     65   18         84
20 1971-07-31     45   31         91

In [16]:
df_auto <-read.csv("https://raw.githubusercontent.com/nmeraihi/data/master/cars_info.csv", header = T)
df_auto

   numeropol marque_voiture couleur_voiture presence_alarme license_plate
1   1        Autres         Autre           0               DW 3168
2   5        RENAULT        Autre           0               926 1RL
3  13        RENAULT        Autre           1               SOV 828
⋮  ⋮         ⋮              ⋮               ⋮               ⋮
24 84        HONDA          Autre           0               CBV 102
25 91        BMW            Autre           1               UOR-0725

Dans ces deux df, nous avons une colonne en commun `numeropol`

In [17]:
df_demo$numeropol

 [1]  1  5 13 16 22 28 29 49 53 57 59 65 67 68 69 72 78 83 84 91

In [18]:
df_auto$numeropol

 [1]  1  5 13 16 22 22 28 29 49 53 53 57 59 65 65 67 68 69 69 72 78 83 84 84 91

On peut voir l'index des lignes qui se trouvent dans les deux df

In [19]:
match(df_demo$numeropol, df_auto$numeropol)

 [1]  1  2  3  4  5  7  8  9 10 12 13 14 16 17 18 20 21 22 23 25

In [20]:
df_demo$numeropol[match(df_demo$numeropol, df_auto$numeropol)]

 [1]  1  5 13 16 22 29 49 53 57 65 67 68 72 78 83 91 NA NA NA NA

On peut aussi faire un test logique sur la présence des observations du df_demo dans df_auto;

In [21]:
df_demo$numeropol %in% df_auto$numeropol

 [1] TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE
[16] TRUE TRUE TRUE TRUE TRUE

ou le contraire maintenant

In [22]:
df_auto$numeropol %in% df_demo$numeropol

 [1] TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE
[16] TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE

Dans ce cas toutes les variables se trouvent dans les deux df

In [23]:
merge(df_demo,df_auto, by.x = "numeropol",  by.y = "numeropol") # x est le df_demo et y est le df df_auto

   numeropol name            province              company                   ⋯
1   1        Shane Robinson  Nova Scotia           May Ltd                   ⋯
2   5        Courtney Nguyen Saskatchewan          Foley, Moore and Mitchell ⋯
3  13        Lori Washington Yukon Territory       Robinson-Reyes            ⋯
⋮  ⋮         ⋮               ⋮                     ⋮                         ⋱
24 84        Heidi Freeman   Northwest Territories Singh, Esparza and Santos ⋯
25 91        Morgan Buchanan Northwest Territories Rollins Inc               ⋯
   marque_voiture couleur_voiture presence_alarme license_plate
1  Autres         Autre           0               DW 3168
2  RENAULT        Autre           0               926 1RL
3  RENAULT        Autre           1               SOV 828
⋮  ⋮              ⋮               ⋮               ⋮
24 HONDA          Autre           0               CBV 102
25 BMW            Autre           1               UOR-0725

Que serait-il arrivé si l’on n'avait pas spécifié les arguments `by.x = "numeropol",  by.y = "numeropol"`?

In [24]:
merge(df_demo,df_auto)

   numeropol name            province              company                   ⋯
1   1        Shane Robinson  Nova Scotia           May Ltd                   ⋯
2   5        Courtney Nguyen Saskatchewan          Foley, Moore and Mitchell ⋯
3  13        Lori Washington Yukon Territory       Robinson-Reyes            ⋯
⋮  ⋮         ⋮               ⋮                     ⋮                         ⋱
24 84        Heidi Freeman   Northwest Territories Singh, Esparza and Santos ⋯
25 91        Morgan Buchanan Northwest Territories Rollins Inc               ⋯
   marque_voiture couleur_voiture presence_alarme license_plate
1  Autres         Autre           0               DW 3168
2  RENAULT        Autre           0               926 1RL
3  RENAULT        Autre           1               SOV 828
⋮  ⋮              ⋮               ⋮               ⋮
24 HONDA          Autre           0               CBV 102
25 BMW            Autre           1               UOR-0725

Cela a bien fonctionné, car R a automatiquement trouvé les noms de colonnes communs au deux df;

Maintenant, changeons les noms de colonnes et voyons ce qui arrive

In [25]:
names(df_auto)[names(df_auto)=="numeropol"] <- "auto_numpol"

Bien évidemment, cela crée une jointure croisée comme on l'avait vu dans les cours de SAS

In [26]:
head(merge(df_demo,df_auto))

  name            province        company                   langue ⋯
1 Shane Robinson  Nova Scotia     May Ltd                   fr     ⋯
2 Courtney Nguyen Saskatchewan    Foley, Moore and Mitchell en     ⋯
3 Lori Washington Yukon Territory Robinson-Reyes            fr     ⋯
⋮ ⋮               ⋮               ⋮                         ⋮      ⋱
5 Jeffrey Garcia  Nunavut         Berger-Thompson           en     ⋯
6 Colleen Coleman Saskatchewan    Simmons-Smith             en     ⋯
  marque_voiture couleur_voiture presence_alarme license_plate
1 Autres         Autre           0               DW 3168
2 Autres         Autre           0               DW 3168
3 Autres         Autre           0               DW 3168
⋮ ⋮              ⋮               ⋮               ⋮
5 Autres         Autre           0               DW 3168
6 Autres         Autre           0               DW 3168

On vient bien que dans la dernière colonne `license_plate`, nous obtenons la même observation ce qui est clairement une erreur;

Corrigeons le problème;

In [27]:
head(merge(df_demo,df_auto, by.x = "numeropol",  by.y = "auto_numpol"))

  numeropol name            province        company                   ⋯
1  1        Shane Robinson  Nova Scotia     May Ltd                   ⋯
2  5        Courtney Nguyen Saskatchewan    Foley, Moore and Mitchell ⋯
3 13        Lori Washington Yukon Territory Robinson-Reyes            ⋯
⋮ ⋮         ⋮               ⋮               ⋮                         ⋱
5 22        Jeffrey Garcia  Nunavut         Berger-Thompson           ⋯
6 22        Jeffrey Garcia  Nunavut         Berger-Thompson           ⋯
  marque_voiture couleur_voiture presence_alarme license_plate
1 Autres         Autre           0               DW 3168
2 RENAULT        Autre           0               926 1RL
3 RENAULT        Autre           1               SOV 828
⋮ ⋮              ⋮               ⋮               ⋮
5 VOLKSWAGEN     Autre           1               453 CFM
6 VOLKSWAGEN     Autre           0               FHH 537

 ## left_join

la fonction `left_join` prend toute l'information de gauche et l'information existante de la partie droite qui est basée sur le critère en commun

In [28]:
x<-data.frame(nom=c("Gabriel", "Adel", "NM", "Mathieu", "Amine", "Mohamed"), 
              bureaux=c("5518", "4538", "5518", "5517", "4538", "4540"))
x

  nom     bureaux
1 Gabriel 5518
2 Adel    4538
3 NM      5518
⋮ ⋮       ⋮
5 Amine   4538
6 Mohamed 4540

In [29]:
y<-data.frame(nom=c("Gabriel", "Adel", "JP", "Mathieu", "Amine"), 
              diplome=c("M.Sc", "Ph.D", "Ph.D", "Ph.D", "Ph.D"))
y

  nom     diplome
1 Gabriel M.Sc
2 Adel    Ph.D
3 JP      Ph.D
4 Mathieu Ph.D
5 Amine   Ph.D

In [30]:
left_join(x,y,by = "nom")

Warning message:
“Column `nom` joining factors with different levels, coercing to character vector”

  nom     bureaux diplome
1 Gabriel 5518    M.Sc
2 Adel    4538    Ph.D
3 NM      5518    NA
⋮ ⋮       ⋮       ⋮
5 Amine   4538    Ph.D
6 Mohamed 4540    NA

## inner_join

Cette fonction permet de retourner **seulement** les éléments en commun des deux df

In [31]:
inner_join(x,y,by = "nom")

Warning message:
“Column `nom` joining factors with different levels, coercing to character vector”

  nom     bureaux diplome
1 Gabriel 5518    M.Sc
2 Adel    4538    Ph.D
3 Mathieu 5517    Ph.D
4 Amine   4538    Ph.D

## semi_join

Cette fonction retourne seulement les éléments du premier df qui se retrouve dans le deuxième df, sans nous retourner les éléments de ce dernier

In [ ]:
semi_join(x,y,by = "nom")

## anti_join

Cette fonction le contraire de la précédente

In [ ]:
anti_join(x,y,by = "nom")