In [3]:
options(repr.matrix.max.cols=8, repr.matrix.max.rows=5)

In [28]:
library(dplyr, warn.conflicts = F)

In [4]:
path<-"https://raw.githubusercontent.com/nmeraihi/data/master/"

# Question 1

## a)

Importer les données `qc_hommes_2.csv` à partir du répertoire [data github](https://github.com/nmeraihi/data) dans un _data frame_ df

In [46]:
# ...

In [6]:
head(df)

  age   lx
1 0 an  100000
2 1 an   99501
3 2 ans  99483
⋮ ⋮     ⋮
5 4 ans 99454
6 5 ans 99442

In [7]:
tail(df)

    age             lx
106 105 ans         96
107 106 ans         51
108 107 ans         26
⋮   ⋮               ⋮
110 109 ans         6
111 110 ans et plus 3

## b)

Dans la colonne `age`, garder seulement la partite numérique. Vous devriez alors obtenir age={0,1,2 ...}

In [47]:
# ...

In [9]:
head(df)

  age lx
1 0   100000
2 1    99501
3 2    99483
⋮ ⋮   ⋮
5 4   99454
6 5   99442

## c)

À ce df, ajouter une nouvelle colonne `dx` (nombre de décès entre l'âge x et x+n). Donc dx est le nombre de décès qui surviennent dans chaque intervalle d'âge au sein d'une cohorte initiale de 100 000 naissances vivantes à l'âge 0.

$$d_x=l_x -l_{x+1}$$

In [48]:
# ...

In [12]:
head(df)

  age lx     dx
1 0   100000 499
2 1    99501  18
3 2    99483  16
⋮ ⋮   ⋮      ⋮
5 4   99454  12
6 5   99442  11

## d)

Calculer qx (quotient de mortalité entre l'âge x et x+n). Donc qx est probabilité qu'un individu d'âge x décède avant d'atteindre l'âge x+n.

$$q_x=\frac{d_x}{l_x}$$

In [49]:
# ...

In [14]:
head(df)

  age lx     dx  qx
1 0   100000 499 0.00499
2 1    99501  18 0.00018
3 2    99483  16 0.00016
⋮ ⋮   ⋮      ⋮   ⋮
5 4   99454  12  0.00012
6 5   99442  11  0.00011

## e)
Maintenant que vous avez toutes les données, on peut calculer la probabilité qu'un individu d'âge x survive jusqu'à l'âge x+n.

$$tP_x=\frac{l_{x+t}}{l_x}$$

Calculer la probabilité qu'un individu de 22 ans survive les trois prochaines années

In [15]:
# ...

[1] 0.9981928

In [16]:
library(formattable)

In [17]:
percent(p)

[1] 99.82%

# Question 2

In [50]:
# ...

Avec les données suivantes;

In [19]:
df1

  Id Age
1 1  14
2 2  12
3 3  15
4 4  10

In [20]:
df2

  Id Sex Code
1 1  F   a
2 2  M   b
3 3  M   c
4 4  F   d

Créer un _data frame_ `M` qui fait une jointure de `df1` et `df2`

In [21]:
# ...
M

  Id Age Sex Code
1 1  14  F   a
2 2  12  M   b
3 3  15  M   c
4 4  10  F   d

# Question 3

Selon un [journaliste de la CNBC](https://www.cnbc.com/video/3000418698), le prix de l'action de Apple [(AAPL)](https://ca.finance.yahoo.com/quote/AAPL/history?p=AAPL) est très corrélé avec le prix de l'action de [Boeing Co (BA)](https://ca.finance.yahoo.com/quote/BA/history?p=BA). 

Calculer la corrélation des prix Adj Close **mensuels** de ces deux compagnies sur la période allant du 2016-11-01 au 2017-10-01.

**Indice:** créer deux vecteurs avec les valeurs des prix. Vous pouvez importer les données à partir de [finance yahoo](https://ca.finance.yahoo.com/) dans la section _Historical Data_ avec les dates et périodes indiquées ci-haut.

In [51]:
# ...

In [34]:
cor(a)

       Apple    Boeing
Apple  1.000000 0.872264
Boeing 0.872264 1.000000

# Question 4

Créer un _data frame_ avec les données [HackerRank-Developer-Survey](https://raw.githubusercontent.com/nmeraihi/data/master/HackerRank-Developer-Survey-2018-Values.csv). Dans ces données, vous trouvez une série de réponses que les développeurs de [HackerRank](https://www.hackerrank.com/) ont répondues suite à un sondage ayant pour but de comprendre les l'intérêts des femmes envers la programmation informatique.

In [52]:
# ...

In [36]:
head(values)

  RespondentID StartDate      EndDate        CountryNumeric2 ⋯ q34PositiveExp
1 6464453728   10/19/17 11:51 10/20/17 12:05 South Korea     ⋯ NA
2 6478031510   10/26/17 6:18  10/26/17 7:49  Ukraine         ⋯ NA
3 6464392829   10/19/17 10:44 10/19/17 10:56 Malaysia        ⋯ NA
⋮ ⋮            ⋮              ⋮              ⋮               ⋱ ⋮
5 6488385057   10/31/17 11:46 10/31/17 11:59                 ⋯ NA
6 6463843138   10/19/17 3:02  10/19/17 3:18  United States   ⋯ NA
  q34IdealLengHackerRankTest q0035_other q36Level4
1 #NULL!                                 Queue
2 #NULL!                                 Queue
3 #NULL!                                 Queue
⋮ ⋮                          ⋮           ⋮
5 #NULL!                                 Hashmap
6 #NULL!                                 Queue