<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Manipulation-avec-dplyr" data-toc-modified-id="Manipulation-avec-dplyr-1">Manipulation avec dplyr</a></span><ul class="toc-item"><li><span><a href="#le-package-dplyr" data-toc-modified-id="le-package-dplyr-1.1">le package dplyr</a></span></li><li><span><a href="#arrange" data-toc-modified-id="arrange-1.2">arrange</a></span></li><li><span><a href="#select" data-toc-modified-id="select-1.3">select</a></span></li><li><span><a href="#filter" data-toc-modified-id="filter-1.4">filter</a></span></li><li><span><a href="#mutate" data-toc-modified-id="mutate-1.5">mutate</a></span></li><li><span><a href="#summarize" data-toc-modified-id="summarize-1.6">summarize</a></span></li><li><span><a href="#L'opérateur-Pipe:-%&gt;%" data-toc-modified-id="L'opérateur-Pipe:-%>%-1.7">L'opérateur Pipe: %&gt;%</a></span></li><li><span><a href="#group_by" data-toc-modified-id="group_by-1.8">group_by</a></span></li></ul></li></ul></div>

In [2]:
options(repr.matrix.max.cols=8, repr.matrix.max.rows=5)

# Manipulation avec dplyr

## le package dplyr
Dans ce cours, afin de manipuler les données, nous allons utiliser la librairie `dplyr` qui assure une manipulation plus intuitive des données. Toutefois, vous pouvez utiliser tout autre libraire ou même les fonctions de base de `R`.

In [11]:
# install.packages("dplyr")

D'abord, téléchargeons un petit _df_ afin d'illustrer la théorie. Dans ce _df_, nous avons les données d'un cycliste qui est sorti un jour d'été faire un petit tour dans l'île de Montréal. Chaque observation, représente le nombre de km parcourus d'un parcours (_lap_), le temps que ça a pris, la vitesse moyenne en `km/h` de chaque _lap_, la puissance moyenne en `watts` et finalement, les battements de cours par minutes.

In [9]:
df<-read.csv("https://raw.githubusercontent.com/nmeraihi/data/master/exemple_2.txt")
df

  km    temps vitesseMoyenne puissanceMoyenne bpm
1  1.24 4:01  19.1           160              134
2  4.84 9:42  30.2           133              146
3  1.02 1:57  30.8           141              139
4 17.61 36:11 29.2           125              144
5  9.27 19:10 29.0           121              143

Il possible d'ordonner les données avec la fonction de base de `R` appelé `order`. Par exemple, on voudrait ordonner notre _df_ en ordre croissant sur la variable `puissanceMoyenne`

In [10]:
df[order(df$puissanceMoyenne),]

  km    temps vitesseMoyenne puissanceMoyenne bpm
5  9.27 19:10 29.0           121              143
4 17.61 36:11 29.2           125              144
2  4.84 9:42  30.2           133              146
3  1.02 1:57  30.8           141              139
1  1.24 4:01  19.1           160              134

Par défaut, l'ordre est est croissant, on peut le rendre décroissant en ajoutant l'argument `decreasing = T`

In [11]:
df[order(df$vitesseMoyenne, decreasing = T),]

  km    temps vitesseMoyenne puissanceMoyenne bpm
3  1.02 1:57  30.8           141              139
2  4.84 9:42  30.2           133              146
4 17.61 36:11 29.2           125              144
5  9.27 19:10 29.0           121              143
1  1.24 4:01  19.1           160              134

Toutefois, lorsque nous avons une base de données comportant un nombre plus important de variables, la syntaxe peut devenir plus compliquée et lourde d’écriture. Regardons un autre exemple:

In [3]:
df_ass <-read.csv("https://raw.githubusercontent.com/nmeraihi/data/master/assurance.csv", header = T)
head(df_ass)

  numeropol debut_pol fin_pol   freq_paiement ⋯ cout6 cout7 nbsin equipe
1 4         11-4-1996 10-4-1997 12            ⋯ NA    NA    0     3
2 4         11-4-1997 10-4-1998 12            ⋯ NA    NA    0     3
3 4         11-4-2002 17-7-2002 12            ⋯ NA    NA    0     3
⋮ ⋮         ⋮         ⋮         ⋮             ⋱ ⋮     ⋮     ⋮     ⋮
5  4        11-4-2003 10-4-2004 12            ⋯ NA    NA    0     3
6 12        3-5-1995  2-5-1996   1            ⋯ NA    NA    0     3

Affichons notre base de données en ordre croissant sur le nombre de sinistres et le numéro de police;

In [15]:
df_ass[order(df_ass$nbsin, df_ass$numeropol, decreasing = T),]

    numeropol debut_pol fin_pol   freq_paiement ⋯ cout6 cout7 nbsin equipe
988 2006      13-6-1996 12-6-1997 12            ⋯ NA    NA    2     3
902 1820      1-10-1996 30-9-1997  1            ⋯ NA    NA    2     3
861 1733      10-5-1998 9-5-1999   1            ⋯ NA    NA    2     3
⋮   ⋮         ⋮         ⋮         ⋮             ⋱ ⋮     ⋮     ⋮     ⋮
4   4         18-7-2002 10-4-2003 12            ⋯ NA    NA    0     3
5   4         11-4-2003 10-4-2004 12            ⋯ NA    NA    0     3

Dans le tableau affiché ci-haut, on voit bien que cette fonction ne nous permet pas d'appliquer un ordre croissant ou décroissant sur une variable précise

## arrange

Maintenant, utilisons le paquet (_package_) `dplyr` qui nous permet de plus facilement d'appliquer un ordre quelconque sur une variable précise indépendamment des autres variables;

In [4]:
library(dplyr, warn.conflicts = FALSE)

In [17]:
arrange(df_ass, desc(nbsin), numeropol)

     numeropol debut_pol  fin_pol   freq_paiement ⋯ cout6 cout7 nbsin equipe
1     71       15-2-1996  14-2-1997  1            ⋯ NA    NA    2     3
2     79       20-11-1997 21-6-1998 12            ⋯ NA    NA    2     3
3    116       4-9-1998   11-6-1999  1            ⋯ NA    NA    2     3
⋮    ⋮         ⋮          ⋮         ⋮             ⋱ ⋮     ⋮     ⋮     ⋮
1000 2036      14-3-2000  26-2-2001 12            ⋯ NA    NA    0     3
1001 2036      27-2-2001  13-3-2001 12            ⋯ NA    NA    0     3

## select

Ce paquet nous permet aussi de sélectionner des variables d'intérêt. Par exemple, dans notre `df_ass`, on désire seulement sélectionner les variables `numeropol`, `type_territoire` et `nbsin`

In [5]:
select(df_ass, numeropol,type_territoire, nbsin)

     numeropol type_territoire nbsin
1    4         Semi-urbain     0
2    4         Semi-urbain     0
3    4         Semi-urbain     0
⋮    ⋮         ⋮               ⋮
1000 2036      Semi-urbain     0
1001 2036      Semi-urbain     1

## filter

Afin de filtrer des données sur des observations d'intérêt. On peut utiliser la fonction de base de **R** `which`. Par exemple dans les données `Cars93` du package `MASS`, on voudrait extraire les véhicules ayant 8 cylindres. On voudrait également afficher que les deux variables `'Horsepower'` et `'Passengers'`

In [19]:
library(MASS, warn.conflicts = F)

In [20]:
Cars93[which(Cars93$Cylinders==8), c('Horsepower' , 'Passengers')]

   Horsepower Passengers
10 200        6
11 295        5
18 170        6
⋮  ⋮          ⋮
48 278        5
52 210        6

Toutefois, la fonction `filter` de la librairie `dyplr` est plus flexible lorsqu'il s'agit d'appliquer des filtres plus complexes. Essayons le même exemple avec cette fonction;

In [21]:
filter(Cars93, Cylinders==8)[c('Horsepower' , 'Passengers')]

  Horsepower Passengers
1 200        6
2 295        5
3 170        6
⋮ ⋮          ⋮
6 278        5
7 210        6

Si l'on cherche les médecins qui ont eu deux sinistres dans notre base de données `df_ass`;

In [22]:
filter(df_ass, nbsin==2, type_prof=="Médecin")

  numeropol debut_pol fin_pol   freq_paiement ⋯ cout6 cout7 nbsin equipe
1   71      15-2-1996 14-2-1997  1            ⋯ NA    NA    2     3
2  140      15-4-1995 14-4-1996 12            ⋯ NA    NA    2     3
3 1820      1-10-1996 30-9-1997  1            ⋯ NA    NA    2     3

## mutate

Dans ce package, on trouve aussi la fonction `mutate` qui permet d'ajouter de nouvelles variables à notre df

In [23]:
mutate(df, arrondi=round(df$vitesseMoyenne,0))

  km    temps vitesseMoyenne puissanceMoyenne bpm arrondi
1  1.24 4:01  19.1           160              134 19
2  4.84 9:42  30.2           133              146 30
3  1.02 1:57  30.8           141              139 31
4 17.61 36:11 29.2           125              144 29
5  9.27 19:10 29.0           121              143 29

Ajoutons maintenant trois nouvlles variables;

In [24]:
mutate(df, arrondi=round(df$vitesseMoyenne,0), segementStrava=paste("segment",1:5,sep = "_"), arrondi_2=arrondi/2)

  km    temps vitesseMoyenne puissanceMoyenne bpm arrondi segementStrava
1  1.24 4:01  19.1           160              134 19      segment_1
2  4.84 9:42  30.2           133              146 30      segment_2
3  1.02 1:57  30.8           141              139 31      segment_3
4 17.61 36:11 29.2           125              144 29      segment_4
5  9.27 19:10 29.0           121              143 29      segment_5
  arrondi_2
1  9.5
2 15.0
3 15.5
4 14.5
5 14.5

## summarize

La fonction `summarize` est très similaire à la fonction `mutate`. Toutefois, contrairement à `mutate`, la fonction `summarize` ne travaille pas sur une copie du df, mais elle crée un tout nouveau df avec les nouvelles variables.

In [25]:
summarise(df,TotalKmParcour=sum(km))

  TotalKmParcour
1 33.98

In [26]:
summarise(df,TotalKmParcour=sum(km), vitesseMoyenne= mean(df$vitesseMoyenne), puissanceMoyenne=mean(df$puissanceMoyenne))

  TotalKmParcour vitesseMoyenne puissanceMoyenne
1 33.98          27.66          136

On voit bien que l'écriture du code commence à être un peu plus compliquée lorsque nous avons plusieurs parenthèses dans notre fonction. Pour remédier à ce problème, nous verrons la notion de _piiping_;

## L'opérateur Pipe: %>%

Avant d'aller plus loin, introduisons l'opérateur de _pipe_:%>%. **dplyr** importe cet opérateur d'une autre librairie (`magrittr`). Cet opérateur vous permet de diriger la sortie d'une fonction vers l'entrée d'une autre fonction. Au lieu d'imbriquer des fonctions (lecture de l'intérieur vers l'extérieur), l'idée de _piping_ est de lire les fonctions de gauche à droite.

![piping data](http://res.cloudinary.com/dyd911kmh/image/upload/f_auto,q_auto:best/v1510846626/Pipe-Mathematical_gczmab.png)

Crédit de l'image [Pipes in R Tutorial For Beginners](https://www.datacamp.com/community/tutorials/pipe-r-tutorial)

Lorsque nous avons écrit:

In [6]:
select(df_ass, numeropol, type_territoire, nbsin)

     numeropol type_territoire nbsin
1    4         Semi-urbain     0
2    4         Semi-urbain     0
3    4         Semi-urbain     0
⋮    ⋮         ⋮               ⋮
1000 2036      Semi-urbain     0
1001 2036      Semi-urbain     1

Si on lit ce que nous avons écrit précédemment de l'intérieur vert l'extérieur, en utilisant le _piping_, nous aurons ceci:

In [7]:
df_ass %>%
    select (numeropol,type_territoire, nbsin)

     numeropol type_territoire nbsin
1    4         Semi-urbain     0
2    4         Semi-urbain     0
3    4         Semi-urbain     0
⋮    ⋮         ⋮               ⋮
1000 2036      Semi-urbain     0
1001 2036      Semi-urbain     1

ou;

In [8]:
df_ass %>%
    select (numeropol,type_territoire, nbsin) %>%
    head

  numeropol type_territoire nbsin
1 4         Semi-urbain     0
2 4         Semi-urbain     0
3 4         Semi-urbain     0
⋮ ⋮         ⋮               ⋮
5  4        Semi-urbain     0
6 12        Semi-urbain     0

## group_by

Nous pouvons aussi grouper les données comme nous le faisions dans `SAS` avec les `PROC SQL`

In [11]:
df_ass$coutTot<-rowSums(df_ass[,c(19:25)], na.rm = T, dims = 1)

In [12]:
df_ass

     numeropol debut_pol fin_pol   freq_paiement ⋯ cout7 nbsin equipe coutTot
1    4         11-4-1996 10-4-1997 12            ⋯ NA    0     3      0
2    4         11-4-1997 10-4-1998 12            ⋯ NA    0     3      0
3    4         11-4-2002 17-7-2002 12            ⋯ NA    0     3      0
⋮    ⋮         ⋮         ⋮         ⋮             ⋱ ⋮     ⋮     ⋮      ⋮
1000 2036      27-2-2001 13-3-2001 12            ⋯ NA    0     3           0.0
1001 2036      14-3-2001 13-3-2002 12            ⋯ NA    1     3      231051.8

In [13]:
summarise(df_ass,TotalNbSin=sum(nbsin), TotCout= sum((coutTot), na.rm = T))

  TotalNbSin TotCout
1 156        1078791

Cherchons par exemple nombre de sinistres totaux ainsi que leurs coûts par territoire. En utilisant la syntaxe du _piping_, ça devient plus facile d'inclure plus de sous-groupes;

In [14]:
df_ass %>% 
    group_by(type_territoire) %>%
    summarise(TotalNbSin=sum(nbsin), 
              TotCout= sum((coutTot), na.rm = T))

  type_territoire TotalNbSin TotCout
1 Rural           51         547105.01
2 Semi-urbain     80         471157.64
3 Urbain          25          60528.81