In [38]:
options(repr.matrix.max.cols=8, repr.matrix.max.rows=5)

In [28]:
path<-"https://raw.githubusercontent.com/nmeraihi/data/master/"

# Question 4

Créer un _data frame_ avec les données [HackerRank-Developer-Survey](https://raw.githubusercontent.com/nmeraihi/data/master/HackerRank-Developer-Survey-2018-Values.csv). Dans ces données, sont une série de réponse que les développeurs de [HackerRank](https://www.hackerrank.com/) ont répondu suite à un sondage ayant pour but de comprendre les l'intérêt des femmes envers l'informatique.

In [1]:
library(dplyr, warn.conflicts = F)

In [3]:
values <- read.csv(paste(path,"HackerRank-Developer-Survey-2018-Values.csv",sep = ""), header = T, stringsAsFactors = F)

In [4]:
head(values)

  RespondentID StartDate      EndDate        CountryNumeric2 q1AgeBeginCoding
1 6464453728   10/19/17 11:51 10/20/17 12:05 South Korea     16 - 20 years old
2 6478031510   10/26/17 6:18  10/26/17 7:49  Ukraine         16 - 20 years old
3 6464392829   10/19/17 10:44 10/19/17 10:56 Malaysia        11 - 15 years old
4 6481629912   10/27/17 1:51  10/27/17 2:05  Curaçao         11 - 15 years old
5 6488385057   10/31/17 11:46 10/31/17 11:59                 16 - 20 years old
6 6463843138   10/19/17 3:02  10/19/17 3:18  United States   41 - 50 years old
  q2Age             q3Gender q4Education                         q0004_other
1 18 - 24 years old Female   Some college
2 25 - 34 years old Male     Post graduate degree (Masters, PhD)
3 12 - 18 years old Female   Some college
4 12 - 18 years old Male     College graduate
5 25 - 34 years old Female   College graduate
6 35 - 44 years old Male     College graduate
  q5DegreeFocus                                       ⋯ q30LearnCodeOther
1 Computer Science                                    ⋯ Other (please specify)
2 Other STEM (science, technology, engineering, math) ⋯
3 Other STEM (science, technology, engineering, math) ⋯
4 Computer Science                                    ⋯
5                                                     ⋯ Other (please specify)
6 Computer Science                                    ⋯ Other (please specify)
  q0030_other                        q31Level3  q32RecommendHackerRank
1 datacamp                           num%2 == 0 Yes
2                                    num%2 == 0 Yes
3                                    num%2 == 0 Yes
4                                    num%2 == 0 Yes
5 Blogs/articles by industry leaders num%2 == 0 Yes
6 SoloLearn                          num%2 == 0 Yes
  q0032_other q33HackerRankChallforJob q34PositiveExp
1             No                       NA
2             No                       NA
3             No                       NA
4             No                       NA
5             No                       NA
6             No                       NA
  q34IdealLengHackerRankTest q0035_other q36Level4
1 #NULL!                                 Queue
2 #NULL!                                 Queue
3 #NULL!                                 Queue
4 #NULL!                                 Hashmap
5 #NULL!                                 Hashmap
6 #NULL!                                 Queue

## a)

En utilisanrtt le package `dplyr`, faites un petit tableau qui donne la proportion des hommes et des femmes dans ce _dataset_. 

Utilisez la variable `q3Gender`

In [34]:
values_2<-values %>% 
    group_by(q3Gender) %>%
        filter(q3Gender %in% c('Male','Female'))%>% 
            count()

In [35]:
values_2$n<-(values_2$n/ sum(values_2$n)) * 100
values_2

  q3Gender n
1 Female   16.55688
2 Male     83.44312

## b)

En utilisanrtt le package `dplyr`, faites un tableau qui donne la proportion des hommes et des femmes en les séparant par le fait qu'ils soient étudiants ou non. 

Utilisez les variables `q3Gender`, `is_student` et `q8Student`

In [36]:
values$is_student <- ifelse(values$q8Student == '','Yes','No')

In [37]:
values %>% group_by(q3Gender, is_student) %>% 
    filter(q3Gender %in% c('Male','Female')) %>% 
    count() %>% 
    ungroup() %>% 
    group_by(is_student) %>% 
    mutate(n = (n/ sum(n)) * 100)

  q3Gender is_student n
1 Female   No         20.82685
2 Female   Yes        13.55364
3 Male     No         79.17315
4 Male     Yes        86.44636

## c)

Dressez un tableau qui donne le nombre de répondants par pays (utilisez la variable `CountryNumeric2`)

In [13]:
values %>% group_by(CountryNumeric2) %>% count() %>% head()

  CountryNumeric2 n
1                 3991
2 Afghanistan        3
3 Albania            8
4 Algeria           22
5 American Samoa     1
6 Andorra            1

## d)

Faites un tableau qui donne le nombre de répondants en les classant par le diplôme obtenu. 

Utilisez la variable `q4Education`

In [26]:
values %>%
            filter(!is.na(q4Education))%>%
            group_by(q4Education)%>%
            summarise(Total = n())%>%
            arrange(desc(Total))  %>%
            mutate(q4Education = reorder(q4Education,Total)) %>%
            head(10)

  q4Education                            Total
1 College graduate                       12010
2 Post graduate degree (Masters, PhD)     6030
3 Some college                            2499
4 Some post graduate work (Masters, PhD)  2493
5 High school graduate                    1289
6 Some high school                         316
7 #NULL!                                   305
8 Vocational training (like bootcamp)      148

## e)

Faites un tableau qui donne le nombre de développeurs par catégorie d'âge.

Utilisez la variable `q1AgeBeginCoding`

In [27]:
values %>%
            filter(!is.na(q1AgeBeginCoding)) %>%
            group_by(q1AgeBeginCoding) %>%
            summarise(Total = n()) %>%
            arrange(desc(Total)) %>%
            mutate(q1AgeBeginCoding = reorder(q1AgeBeginCoding,Total)) %>%
            head(10)

   q1AgeBeginCoding   Total
1  16 - 20 years old  14293
2  11 - 15 years old   5264
3  21 - 25 years old   3626
4  5 - 10 years old     933
5  26 - 30 years old    642
6  31 - 35 years old    193
7  36 - 40 years old     67
8  41 - 50 years old     34
9  #NULL!                30
10 50+ years or older     8